<div id="profile-completion-root" class="min-h-screen">
  <%= react_component('ProfileCompletionForm', {
    user: @user ? {
      first_name: @user.respond_to?(:first_name) ? @user.first_name : nil,
      last_name: @user.respond_to?(:last_name) ? @user.last_name : nil,
      email: @user.respond_to?(:email) ? @user.email : nil,
      workspace_name: @user.respond_to?(:workspace_name) ? @user.workspace_name : nil,
      job_title: @user.respond_to?(:job_title) ? @user.job_title : nil
    } : {},
    errors: @user&.errors&.messages || {},
    flashAlert: flash[:alert],
    flashNotice: flash[:notice],
    authenticityToken: form_authenticity_token
  }) %>
</div>
