<div id="auth-page-root" class="min-h-screen">
  <%= react_component('AuthPage', {
    initialMode: 'signup',
    errors: resource.errors.messages,
    flashAlert: flash[:alert],
    flashNotice: flash[:notice],
    authenticityToken: form_authenticity_token
  }) %>
</div>

