<div id="campaign-dashboard-root" class="min-h-screen">
  <%= react_component('CampaignDashboard', {
    user: {
      first_name: @user&.first_name,
      last_name: @user&.last_name,
      name: @user&.name,
      workspace_name: @user&.workspace_name,
      job_title: @user&.job_title
    }
  }) %>
</div>


